.container > div:nth-child(even){
  background-color: silver;
}

.container > div:nth-child(odd){
  background-color: slategray;
}

.container > div{
  padding: 1em;
}
.container{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-gap: 1em;
  grid-auto-rows: minmax(100px,auto);
  /* justify-items: start/end/center/default:stretch; */
  /* align-items: start/end/ceneter/default:stretch; */
}

.box1{
  /* align-self: start; */
  grid-row:1/3;
  grid-column:1/3;
}

.box2{
  /* align-self:center; */
  grid-row: 1/4;
}

.box3{
  /* justify-self: end; */
}
.box4{
  /* justify-self: end; */
  grid-column:1;
  grid-row: 2/4;
  border: 2px solid black;
}
