

body{
	margin: 0;
}


.navigation-container{
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid red;
	padding: 0.2em;
}

.navigation-title{
	flex:1;
	margin:0 0 0 1em;
}


.navigation-navbar{
	flex:6;
	display:flex;
	justify-content: space-around;
	margin: 0;
}

.navigation-item{
	list-style-type: none;
	font-size: 1.2em;
}

.navigation-link{
	text-decoration: none;
	color: black;

}

.navigation-link:hover{
	color: white;
	background-color:red;
	padding: 0.1em;
}


.content-container{
	display: flex;
	margin-top: 3em;
	height: 20em;
}

.content-img{
	flex:1;
	margin: 0 1em 0 1em;
	align-self: flex-start;

}

.content-p{
	flex:4;
	font-size: 14px;
}


.content-box{
	flex:1;
	display: flex;
	justify-content: center;
	margin:0 0 0 1em;
	border: 1px solid black;
}

.box-link{
	margin:1em 0 0 0;
}

.footer-container{
	display:flex;
	width: 100%;
	align-items: center;
	justify-content: center;
	position: fixed;
	bottom: 0;
	border-top: 1px solid black;
}

.footer-paragraph{
	font-size: 0.8em;
}

.footer-input{
}

.footer-button{
}
