html {
  box-sizing: border-box; 
} 

*, *:before, *:after {
  box-sizing: inherit; 
}

.container{
 	width: 300px;
  	height: 600px;
  	border: 5px solid black;
  	padding: 20px;
  	margin: 0 auto;}

.box-1{
	width: 90%;
	height: 50%;
	border: 1px solid black;
	margin: 0 auto;
	text-align: center;
	padding-top: 5px;
}

.box-2{
	width: 50%;
	height: 50%;
	border: 1px solid black;
	text-align: center;
	margin: 0 auto;
	padding-top: 5px;
	float: left;
	margin-top: 5px;
}
