.blog-post-header{
	background-color: green;
}

.text-align-right{
	text-align: right;
}

.text-align-left{
	text-align:left;
}

.blue{
	color: blue;

}
.white{
	color: white;
}

.tahoma-text{
	font-family: Tahoma;
}

.bold{
	font-weight: bold;
}