%btn {
  display: inline-block;
  border-radius: 5px;
  padding:8px 20px;
  margin:5px;
  btn:hover{
    transform: scale(1);
  }

}


.btn-primary{
  @extend %btn;
  @include set-background(lighten($primary-color,10%));


}

.btn-secondary{
  @extend %btn;
  @include set-background($secondary-color);

}
