//  SET TEXT COLOR BASE ON BACKGROUND COLOR
@function set-text-color($color){
  @if(lightness($color) > 70){
    @return #333;
  }
  @else{
    @return #fff;
  }
}



@mixin set-background($color){
  background-color: $color;
  color: set-text-color($color);
}

