.container{
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 30px;
  overflow: auto;
}


//  Margin & padding classes
$spaceamount: (1,2,3,4,5);
@each $space in $spaceamount{
  .m-#{$space} {
    margin: #{$space}rem;
  }
  .my-#{$space}{
    margin: #{$space}rem 0
  }

  .p-#{$space} {
    padding: #{$space}rem;
  }
  .py-#{$space} {
    padding: #{space}rem 0;
  }

}
