body{
	margin: 0;
}

.navigation{
	display: flex;
	width: 100%;
	height: 3em;
	background-color: royalblue;
}


.container{
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 40em;
}


.boxes-left{
	flex: 1;
	display: flex;
	flex-direction: column;
	background-color: coral;
}

.boxes-left div{
	border: 2px solid black;
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;

}

.boxes-left p{
	font-size : 40px;
	font-weight: bold;
	text-align: center;
}

.boxes-right{
	flex: 1;
	display: flex;
	flex-direction: column;
	background-color: coral;

}


.boxes-right div{
	border: 2px solid black;
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;

}

.boxes-right p{
	font-size : 40px;
	font-weight: bold;
	text-align: center;
}

.calculator{
	flex: 2;
	display: flex;
	flex-direction: column;
	margin: 0 1em 0 1em;

}

.calculator div{
	border: 1px solid black;
	background-color: royalblue;
}
.input-container{
	flex: 1;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.input-container input{
	font-size: 1em;

}


.operator-container{
	flex: 1;
	display: flex;
	justify-content: space-around;
	align-items: center;

}

.operator-container button{
	flex-basis: 2.5em;
	font-size: 2em;
	color: white;
	background-color: coral;
}


.result-container{
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.result-container p{
	font-size: 3em;
	color: white;
}
